doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //if lte IE 8
      script(src='http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js')
      script(src='./plugins/amazeui/amazeui.ie8polyfill.min.js')
    include ./views/common/tongji.pug
  body
    #indexContainer
