doctype html
html(lang=en)
  head
    title 牛人直播间 
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(name="description" content="")
    meta(name="keywords" content="")
    <!--[if lt IE 9]>
      script(type="text/javascript").
        alert('请使用IE8以上浏览器');
        document.write('请使用IE8以上浏览器，推荐使用360急速模式或者chrome、Firefox浏览器.')
    <![endif]-->
    // Polyfills
    <!--[if lt IE 10]>
      script(src='https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js')
    <![endif]-->
    <!--[if lte IE 11]>
      script(src='https://as.alipayobjects.com/g/component/??es6-shim/0.35.1/es6-sham.min.js,es6-shim/0.35.1/es6-shim.min.js')
    <![endif]-->
    //- script(src="./plugins/NIM/Web_SDK_Chatroom_v3.1.0.js")
  body
    div#app
    //- h2  hello world
    script(src="./vendor.dll.js")
