@charset 'utf-8';
*{ padding:0; margin:0}
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:12px;}
a{ color:#000; text-decoration:none;}
ul,ol{ list-style:none;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
a img{ border:none;}
img{ vertical-align:top;}
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{zoom:1;}
.fl{float: left;}
.fr{float: right;}
.hidden{display: none!important;}
.am-g{
  width: 1200px;
  margin:0 auto;
}
.hide{
  display: none!important;
}
.show{
  display:block;
}
html,body{
  height: 100%;
}
html{
  overflow-y: hidden;
}
body{
  background: #fff;
  // overflow-y: auto;
}
.border-bom {
  border-bottom: 1px solid rgb(238,238,238);
}
.fontgreen {
  color: rgb(28,160,107) !important;
}

.fontred {
  color: rgb(239, 48, 48) !important;
}
