.chat-live {
  .chat-editor#live-home {
    width: 100%;

    .chatedittab {
      position: relative;
      width: 100%;
      height: 25px;
      display: table;
      // background: #555;
      border-top: 1px solid #E2E9F1;

      .clear-screen {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
      }

      .emoji_img {
        position: absolute;
        left: 16px;
        top: 6px;
        display: block;
        width: 25px;
        height: 25px; // background-image: url(../../images/emoji_img.png);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }

      .pic_img {
        position: absolute;
        left: 73px;
        top: 18px;
        width: 25px;
        height: 25px; // background-image: url(../../images/pic_img.png);
        // background-repeat: no-repeat;
        // background-size: contain;
        cursor: pointer;
      }

      .qp {
        position: absolute;
        left: 128px;
        top: 19px;
        width: 41px;
        height: 23px;
        border-radius: 2px;
        line-height: 23px;
        text-align: center;
        font-size: 12px;
        color: rgb(100, 179, 240);
        border: 1px solid rgb(100, 179, 240);
        cursor: pointer;
      }

      .hidden {
        display: none;
      }
    }

    .chateditpanel {
      margin-top: 15px;
      height: 73px;

      // div[contenteditable]:empty:before{
      //     content: attr(placeholder);
      //     font-size: 14px;
      //     color: #518BDE;
      // }
      // // div[contenteditable]:focus{
      //     content:none;
      // }
      .chateditmsg {
        margin: 0 auto;
        width: 100%;
        margin-left: 15px;
        border: 1px solid #E2E9F1;
        border-radius: 2px 0 0 2px;
        padding-right: 60px;
        font-size: 14px;
        line-height: 30px;
        overflow: hidden;
        overflow-y: auto;
        outline: none;
        height: 70px;
        padding: 0 10px;
        transition: 0.5s;
        color: #3F424E;

        &:focus {
          border: 1px solid #C9D1DA;
        }

        &.go-login {
          line-height: 73px;
          font-size: 14px;
          color: #666666;
          font-weight: bold;
          overflow: hidden;

          span {
            color: #3C7DDA;
            cursor: pointer;
          }
        }

        &:empty:before {
          content: attr(placeholder);
          color: #518BDE;
          font-size: 14px;
        }

        &:focus:before {
          content: none;
        }
      }

      .send {
        position: absolute;
        // left: 224px;
        right: 0px;
        top: 40px;
        width: 60px;
        height: 70px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        border-radius: 0 3px 3px 0;
        line-height: 70px;
        background-color: #D95325;
        cursor: pointer;
      }
    }
  }
}

.night {
  .chat-live {
    .chatedittab {
      border-top: 1px solid #141414 !important;
    }

    .chateditmsg {
      border: 1px solid #3E3E3E !important;
      color: #E5E6EC !important;
    }
  }
}