<header id="header"></header>
<div class="container">
  <div class="top">
    <!--<img src="img/index/index.png">-->
    <div class="banner">金融科技 未来已来</div>
    <div class="banner-title">智能交易科技服务企业</div>
  </div>
  <div class="Anti_fraud">
		<img class="Anti_speak" src="img/index/icon_notive.png">
		<div class="Anti_con">
      <p class="Anti_text">本公司留意到市场上有一些网站与本公司官网的版面设计相似，并且援引了一些关于寰盈亚洲的、可公开查找到的信息。本公司在此郑重声明，除了本网站之外，其他网站并非由本公司创建或维护。本公司也没有提供任何文字信息给其他网站。请投资者认真甄别判断，以免混淆</p>
		</div>
	</div>
  <div class="content">
    <div class="choice layer">
      <div class="tips">
        为何选择寰盈国际亚洲有限公司
      </div>
      <div class="items">
        <div class="am-u-sm-6 am-u-md-3 item">
          <img src="img/index/index_1a.png">
          <h5>香港持牌法团</h5>
          <p>香港证监会认可持牌法团拥有1/2/4/5/9号牌照</p>
        </div>
        <div class="am-u-sm-6 am-u-md-3 item">
          <img src="img/index/index_2a.png">
          <h5>智能交易服务</h5>
          <p>致力于打造程序化算法交易平台,提供智能交易服务</p>
        </div>
        <div class="am-u-sm-6 am-u-md-3 item">
          <img src="img/index/index_3a.png">
          <h5>多元化投资品种</h5>
          <p>港股、沪港通、深港通市场投资交易产品多样</p>
        </div>
        <div class="am-u-sm-6 am-u-md-3 item">
          <img src="img/index/index_4a.png">
          <h5>定制化技术解决方案</h5>
          <p>以雄厚技术实力为机构客户提供定制化解决方案</p>
        </div>
      </div>
    </div>

    <div class="whatToDo layer">
      <div class="tips">
        寰盈国际亚洲有限公司在做什么
      </div>
      <div class="items">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="item">
            <div class="pics am-u-sm-4 am-u-md-4">
              <img src="img/index/work_1.png">
            </div>

            <dl class="right am-u-sm-8 am-u-md-8">
              <dt>交易平台</dt>
              <dd>
                <p>打造智能交易为核心的服务平台，提供急速下单，投资策略等一系列解决方案，提升客户的交易效率</p>
                <a href="/trade.html">了解详情</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6">
          <div class="item">
            <div class="pics am-u-sm-4 am-u-md-4">
              <img src="img/index/work_2.png">
            </div>

            <dl class="right am-u-sm-8 am-u-md-8">
              <dt>服务范围</dt>
              <dd>
                <p>提供全面的证券投资服务，满足投资者的多元化交易需求</p>
                <a href="/service.html">了解详情</a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="whatIsThis layer">
      <div class="isThis">
        <div class="tips">
          寰盈国际亚洲有限公司是什么
        </div>
        <div class="items">
          <h5>以智能交易为核心的金融服务机构<br/>致力于为用户提供便捷多元化的证券交易及投资服务</h5>
          <p>香港持牌法团，联交所市场参与者，香港结算所直接参与者<br/>打造以量化服务为核心的交易平台，满足客户量化策略开发、回测，程序化交易接入，智能订单管理等需求</p>
        </div>
      </div>
    </div>

  </div>
</div>
<footer id="footer"></footer>
