<header id="header"></header>

<div class="container">

  <div class="top">
    <!--<img src="img/index/index.png">-->
    <div class="banner">帮助中心</div>
  </div>

  <div class="content">
    <div class="layer helpBox">
      <div class="tips tips_2" id="gmg">
        港股市场基本知识
      </div>
      <div class="items items_2">
        <h5 id="jyt">港股的交易时间</h5>
        <p>港股在周一到周五进行交易（公众假期除外），交易时间分为早盘竞价时段，持续交易时段和收市竞价交易时段。早盘竞价时段为09:00到09:30，类似A股的集合竞价阶段，持续交易时段为09:30到12:00，13:00到16:00，类似A股的连续竞价阶段。收市竞价交易时段为16:00到16:10</p>
        <h5>港股的最小交易单位和报价单位</h5>
        <p>港股的最小交易单位为“手”，但是每只股票的一手股数不同，最少的为2股，最多为100000股。港股的最小报价单位也各有不同，价格越便宜的股票最小报价单位越小，范围是0.001到5港币。</p>
        <h5>港股不足一手时如何交易</h5>
        <p>港股不足一手的股票称为碎股，碎股采用的是半自动对盘，即需要人工操作，一般成交价格要比正常成交低。</p>
        <h5>港股结算交收机制</h5>
        <p>港股实行的是T+2交割制度，即交易发生后第二个工作日才能完成清算交割，即卖出股票后第二个工作日才能将钱取出来。</p>
        <h5 id="wnx">什么是窝轮和牛熊证？</h5>
        <p>窝轮和牛熊证都是衍生品，窝轮分认购证和认沽证，认购是看多，认沽是看空，牛熊证牛证是看多，熊证是看空，牛熊证不同于窝轮的是牛熊证有一个回收价格，触及价格即方向看错的情况下牛熊证会被回收。</p>
      </div>
    </div>

    <div class="layer helpBox">
      <div class="tips tips_2" id="lhs">
        沪深股通基本知识
      </div>
      <div class="items items_2">
        <h5>什么是沪深股通</h5>
        <p>沪股通/深股通是指香港投资者委托香港经纪商，经由联交所设立的证券交易服务公司，向上交所/深交所进行申报，买卖规定范围内的上交所/深交所上市的股票。寰盈证券支持买卖沪股通/深股通股票</p>
        <h5>沪深股通以什么货币结算</h5>
        <p>以人民币结算，寰盈国际亚洲有限公司可以借给用户人民币来买卖沪股通/深股通股票，用户自己也可以将美元或港币兑换为人民币来买卖沪股通/深股通股票。</p>
        <h5 id="mgp">沪深股通可以买卖哪些股票</h5>
        <p>沪股通：可以买卖包括上证180指数及上证380指数成份股，以及上海证券交易所上市的A+H股票。
          <br/>深股通：可以买卖市值60亿元人民币及以上的深证成份指数和深证中小创新指数的成份股，以及深圳证券交易所上市的A+H股票</p>
        <h5>沪深股通交易时间</h5>
        <p>沪股通/深股通的交易时间于周一至周五（非北向交易日除外），分集合竞价阶段和连续竞价阶段，前者为09:15到09:25，后者为09:30到11:30，13:00到15:00，其中14：57到15：00深市为收盘集合竞价时间</p>
      </div>
    </div>

    <div class="layer helpBox">
      <div class="tips tips_2" id="opens">
        开户相关知识
      </div>
      <div class="items items_2">
        <h5 id="rkh">寰盈国际亚洲有限公司如何开户</h5>
        <p>客户需要下载开户表格及协议，填写签名，并联络客户服务热线：（852）2905-5900安排开户见证事宜</p>
        <div class="btn">
          <span>个人开户表格下载:</span>
          <button onclick="window.location.href='./zip/（个人保证金账户）开户材料-官网.zip'" type="button" name="button">现金账户</button>
          <button onclick="window.location.href='./zip/（个人现金账户）开户材料-官网.zip'" type="button" name="button">保证金账户</button>
        </div>
        <div class="btn">
          <span>公司开户表格下载:</span>
          <button onclick="window.location.href='./zip/（公司保证金账户）开户材料-官网.zip'" type="button" name="button">现金账户</button>
          <button onclick="window.location.href='./zip/（公司现金账户）开户材料-官网.zip'" type="button" name="button">保证金账户</button>
        </div>
        <p>代理人账户申请：请联系客服咨询</p>
      </div>
    </div>

    <div class="layer helpBox">
      <div class="tips tips_2" id="haq">
        账户安全
      </div>
      <div class="items items_2">
        <h5>资产安全</h5>
        <p>寰盈国际亚洲有限公司持有香港证监会1/2/4/5/9号牌照，同时是香港结算所直接参与者，客户资产安全有保障。</p>
      </div>
    </div>

    <!-- <div class="layer helpBox">
      <div class="tips tips_2" id="jyf">
        交易费用
      </div>
      <h5>港股交易费用</h5>
      <div class="pics pics_2">
        <img src="./img/questions/u486.png" alt="">
      </div>
      <h5>港股非交易费用</h5>
      <div class="pics pics_2">
        <img src="./img/questions/u488.png" alt="">
      </div>
      <h5>沪深股通交易费用</h5>
      <p>沪股通和深股通交易费用一致，具体如下：</p>
      <div class="pics pics_2">
        <img src="./img/questions/u516.png" alt="">
      </div>
    </div> -->

    <div class="layer helpBox">
      <div class="tips tips_2" id="rzr">
        融资融券
      </div>
      <h5>即将推出</h5>
    </div>


  </div>
</div>

<footer id="footer"></footer>
