{
  "presets": ["es2015", "stage-0", "env"],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    ["component", [
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]],
  ]
}