<header id="header"></header>

<div class="container">

  <div class="top">
    <!--<img src="img/index/index.png">-->
    <div class="banner">智能交易 便捷投资</div>
  </div>

  <div class="content">
    <div class="investment">
      <div class="title">
        寰盈国际亚洲有限公司交易客户端 一键开启证券投资之旅
      </div>
      <div class="times">
        <span>即将推出</span>
      </div>
      <div class="pics">
        <img src="./images/trade/top1.png" alt="">
      </div>
    </div>

    <div class="items items_2">
      <div class="quick">
        <div class="am-u-sm-12 am-u-md-4 pics">
          <img src="./img/trade/quick1.png" alt="">
        </div>
        <div class="am-u-sm-12 am-u-md-8 txt">
          <div class="txtBox">
            <div class="title">
              一个账户<br/>玩转证券交易市场
            </div>
            <ul>
              <li><span class="icon_title"></span><span>同一交易客户端内，轻松开通港股、沪深港通的证券账户</span></li>
              <li><span class="icon_title"></span><span>支持证券市场上的股票、交易所交易基金（ETF）、窝轮、牛熊证等标的证券交易</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="good">
        <div class="am-u-sm-12 am-u-md-8 txt">
          <div class="txtBox">
            <div class="title">
              极速下单<br/>把握最佳投资机会
            </div>
            <ul>
              <li><span class="icon_title"></span><span>采用国际上先进的证券交易系统</span></li>
              <li><span class="icon_title"></span><span>专线直连交易所，低延迟访问</span></li>
              <li><span class="icon_title"></span><span>实现毫秒级下单速度，极致交易体验</span></li>
            </ul>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-4 pics">
          <img src="./img/trade/good1.png" alt="">
        </div>
      </div>
    </div>

    <div class="items items_2">
      <div class="lows">
        <div class="am-u-sm-12 am-u-md-4 pics">
          <img src="./img/trade/low1.png" alt="">
        </div>
        <div class="am-u-sm-12 am-u-md-8 txt">
          <div class="txtBox">
            <div class="title">
              费用低廉<br/>轻松赚取投资收益
            </div>
            <ul>
              <li><span class="icon_title"></span><span>港股交易佣金低廉</span></li>
              <li ><span class="icon_title"></span><span>港股、沪深港通均支持融资服务</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="safe">
        <div class="am-u-sm-12 am-u-md-8 txt">
          <div class="txtBox">
            <div class="title">
              安全稳定<br/>资产风控严格保障
            </div>
            <ul>
              <li><span class="icon_title"></span><span>公司为香港结算所参与者，客户资产安全有保障</span></li>
              <li><span class="icon_title"></span><span>客户账户受香港证监会严格监管</span></li>
              <li><span class="icon_title"></span><span>自建底层技术架构，坚实可靠</span></li>
            </ul>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-4 pics">
          <img src="./img/trade/safe1.png" alt="">
        </div>
      </div>
    </div>

  </div>

</div>

<footer id="footer"></footer>
