.role-view{
  padding: 16px;
  .input-wrap {
    margin: 10px auto;
  }
  .text{
    width: 520px;
    height: 100px;
    vertical-align: text-bottom;
    padding: 5px;
  }
  .btn-add {
    margin-left: 10px;
    vertical-align: text-bottom;
  }
}
a.link {
  display: block;
}