<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="format-detection" content="telephone=no">
  <title>牛熊分界</title>
  <script type="text/javascript">
    // 腾讯统计
    setTimeout(function () {
      var _mtac = {};
      (function () {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500596132");

        var s = document.getElementsByTagName("script")[1];
        s.parentNode.insertBefore(mta, s);
      })();
    }, 2000);
  </script>
  <script type="text/javascript" src="https://h5.niuguwang.com/cdn/js/flexble.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <nav class="navImg"> <img class="widImg" src="./images/detailban@2x.png" alt=""> </nav>
    <article>
      <h5>作用一 实力判断市场牛熊</h5>
      <p>50黄色线为牛熊分界线，适用于识别当下市场行情是否为牛熊。50线以上为牛市行情，50线以下为熊市行情，帮助您更快把握机会预警风险。</p>
    </article>
    <article>
      <h5>作用二 强势市场抓住时机</h5>
      <p>80红色线以上为强势分界线，高于80强势分界线，则说明本标的在当下市场中属于强势股票，资金交易活跃，适用于超级短线操盘。</p>
    </article>
    <article>
      <h5>作用三 超跌反弹左侧埋伏</h5>
      <p>20蓝色线以下为弱势分界线，低于20弱势分界线，则说明本标的在当下市场中相对弱势，有超跌反弹迹象，合适标的适合埋伏等待，适用于超跌反弹战法的操作品种。</p>
    </article>
    <section>
      <h6>案例解析</h6>
      <div class="imgPane"><img class="widImg" src="./images/detailjujin@2x.png" alt=""></div>
    </section>
    <article>
      <p>如上图上证指数所示，当牛熊分界指标进入到50牛熊分界位时，则说明市场进入到可操作区。</p>
      <p>股价持续大涨，若此时也出现DK趋势买入D点信号，则说明此时进入主升浪，有操作机会。</p>
      <p>当牛熊分界指标进入到80强势分界位以上时，则说明市场进入加速主升浪，当指标出现背离或下破80，则提示减仓或卖出。</p>
      <p>当牛熊分界指标进入到20弱势分界以下时，则说明市场进入超跌反弹，提示拥有左侧超跌埋伏机会。</p>
    </article>
    <div class="telPane border-ios">
      <p>如果有任何使用问题，请电话联系我们进行咨询：</p>
      <p><span>(交易日:09:00-18:00)</span></p>
      <template v-if="telShow">
        <div class="telbox" v-if="curTel">
          <div class="tel">官方客服电话：<span>{{curTel}}</span></div>
          <div class="telBtn" @click="telPhone(curTel)">拨打</div>
        </div>
        <div class="telbox fontBlur" v-if="serTel">
          <div class="tel">服务监督电话：<span>{{serTel}}</span></div>
          <div class="telBtn" @click="telPhone(serTel)">拨打</div>
        </div>
      </template>
    </div>
    <footer>
      <p>本产品利用客观数据进行大数据智能分析和运算，得出相关结论，仅供参考，不构成投资建议。据此操作，盈亏自负。<br />
        本页面内容及产品服务均为上海海能证券投资顾问有限公司（业务资格许可证号：ZX0098）提供</p>
    </footer>
  </div>
</body>

</html>