<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="format-detection" content="telephone=no">
  <title>风险评测</title>
  <script type="text/javascript" src="https://h5.niuguwang.com/cdn/js/flexble.js"></script>
</head>

<body>
  <div id="app" v-cloak>
    <section class="resultPane" v-if="resultData">
      <header>
        <div class="investType">
          <h4>{{resultData.Type.Title}}</h4>
          <p>{{resultData.Type.TitlePrefix}}</p>
        </div>
        <div class="imgType">
          <img :src="resultData.Type.Image" alt="">
        </div>
      </header>
      <div class="mainPane">
        <div class="riskTips" v-if="resultData.Paragraphs[0]">
          <h6 class="risks" v-if="resultData.Paragraphs[0].Ttile"><span>{{resultData.Paragraphs[0].Ttile}}</span></h6>
          <h6 v-html="resultData.Paragraphs[0].Content"></h6>
        </div>
        <div class="warmTips" v-if="resultData.Paragraphs[1]">
          <p v-if="resultData.Paragraphs[1].Ttile">{{resultData.Paragraphs[1].Ttile}}</p>
          <p v-html="resultData.Paragraphs[1].Content"></p>
          <p v-if="resultData.Paragraphs[2].Ttile">{{resultData.Paragraphs[2].Ttile}}</p>
          <p v-html="resultData.Paragraphs[2].Content"></p>
        </div>
      </div>
      <footer>
        <div class="resultBtn" :class="resultData.Buttons.length === 1 && 'flex'">
          <template v-for="(item,index) in resultData.Buttons">
            <div class="border-ios" :class="item.Agree ? 'agree' : 'disagree'" @click="agreeOrNot(item.Url)">
              {{item.Text}}</div>
          </template>
        </div>
        <div class="telPane" @click="telPhone('021-25099066')">客服电话电话：<span>021-25099066</span></div>
      </footer>
    </section>
    <section class="problem" v-else>
      <header>
        <p>{{progress}}</p>
        <div class="progress">
          <div class="progress-bar" :style="{ width: Math.round(progress/questions.length*100)+'%'}"></div>
        </div>
        <p>{{questions.length}}</p>
      </header>
      <div class="answer">
        <div class="answer-pane clearfix">
          <transition-group :name="transitionName" v-for="(result,index) in questions" :key="index">
            <div class="answer-item" v-show="progress == result.questionID" :key="index">
              <div class="question border-ios">{{result.question}}</div>
              <template v-if="result.queType == '0'">
                <div class="list-item" v-for="(item, idx) in result.options" :key="idx">
                  <input class="hide" type="radio" :name="result.questionID" :id="result.questionID+'-'+item.qCode" :value="result.questionID+item.qCode"
                    v-model="answer[progress-1]">
                  <label :for="result.questionID+'-'+item.qCode"><i
                      class="check"></i><span>{{item.qCode}}：{{item.text}}</span></label>
                </div>
              </template>
              <template v-else>
                <div class="list-item" v-for="(item, idx) in result.options" :key="idx">
                  <input class="hide" type="checkbox" :name="result.questionID" :id="result.questionID+'-'+item.qCode" :value="result.questionID+item.qCode"
                    v-model="answer[progress-1]">
                  <label :for="result.questionID+'-'+item.qCode"><i
                      class="check"></i><span>{{item.qCode}}：{{item.text}}</span></label>
                </div>
              </template>
              <div class="tips" v-if="result.queType != '0'">注：本题可多选，但评分以其中最高分值选项为准</div>
            </div>
        </div>
        </transition-group>
      </div>
      <div class="fixed-bottom" v-if="questions">
        <div class="btn" :class="progress===1 && 'flex'">
          <div class="prev border-ios" @click="prev" v-if="progress > 1">上一题</div>
          <div class="next" @click="nextResult" v-if="progress < questions.length">下一题</div>
          <div class="submit border-ios" @click="nextResult" v-if="progress === questions.length">完成</div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>