@import './common.scss';
.dk-to-pay {
  height: size(60);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #180F5E;
  box-shadow: size(-10) size(-15) size(15) #180F5E;
  p {
    height: size(45);
    width: size(350);
    margin: 0 auto;
    line-height: size(45);
    text-align: center;
    font-size: size(18);
    color: #fff;
    background: linear-gradient(to left, #F13B28, #F8275D);
  }
}

.king-to-pay {
  height: size(60);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  box-shadow: 0 size(-15) size(15) #000;
  p {
    height: size(45);
    width: size(348);
    margin: 0 auto;
    line-height: size(45);
    text-align: center;
    font-size: size(17);
    color: #916617;
    background: linear-gradient(to bottom, #E2AF70, #EECE9F);
  }
}