<div class="concat am-g">
  <div class="am-u-sm-12 am-u-md-6 phone">
    <div class="am-u-sm-2">
      <img src="img/phone.png">
    </div>
    <div class="am-u-sm-10">
      <p>客服电话</p>
      <p>852-2905 5900</p>
    </div>
  </div>
  <div class="am-u-sm-12 am-u-md-6 location">
    <div class="am-u-sm-2">
      <img src="img/location.png">
    </div>
    <div class="am-u-sm-10">
      <p>联系地址</p>
      <p>香港中环德辅道中55号协成行中心21楼</p>
    </div>
  </div>
</div>
<div class="copyright">
  Copyright © 2018 寰盈国际亚洲有限公司
</div>
