<div class="layout">
  <div class="layout-ceiling">
    <div class="layout-logo">直播管理系统</div>
    <div class="layout-ceiling-main">
      <a href="javascript: void(0)">{{userInfo.userName}}</a> |
      <a href="javascript: void(0)" @click="logout">退出</a>
    </div>
  </div>
  <div class="layout-content">
    <Row>
      <i-col span="5">
        <Menu :active-name="this.activeName" :open-names="['1', '2']" width="auto" @on-select="selectMenu">
          <Submenu name="1">
            <template slot="title">
              直播室相关
            </template>
            <Menu-item name="live">直播间管理</Menu-item>
            <Menu-item name="notice">预告管理</Menu-item>
            <Menu-item name="video">视频管理</Menu-item>
          </Submenu>
          <Submenu name="2">
            <template slot="title">
              人员相关
            </template>
            <Menu-item name="customer">观众管理</Menu-item>
            <Menu-item name="employee">内部人员管理</Menu-item>
          </Submenu>
        </Menu>
      </i-col>
      <i-col span="19">
        <div class="layout-content-main">
          <transition name="fade">
            <router-view></router-view>
          </transition>
        </div>
      </i-col>
    </Row>
  </div>
  <div class="layout-copy">
  </div>
</div>