<header id="header"></header>

<div class="container">
  <div class="top">
    <!--<img src="img/index/index.png">-->
    <div class="banner">卓越的智能交易服务平台</div>
  </div>

  <div class="content">

    <div class="layer choice">
      <div class="tips">
        智能交易服务
      </div>
      <div class="items">
        <div class="pics  am-u-sm-12 am-u-md-3">
          <img src="./img/service/icon_2.png" alt="">
        </div>
        <div class="txt  am-u-sm-12 am-u-md-9">
          <ul>
            <li><span class="icon_title"></span><span>为投资者提供多元化的订单类型和算法，并通过高级交易功能帮助客户实现风险控制、订单执行优化等需求</span></li>
            <li><span class="icon_title"></span><span>帮助客户搜索最佳的公司股票及投资组合，并立即智能执行客户订单</span></li>
          </ul>

          <div class="times">
            <span>即将推出</span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="layer ">
      <div class="tips">
        盈宽量化平台
      </div>
      <div class="items">
        <div class="pics  am-u-sm-12 am-u-md-3">
          <img src="./img/service/icon_2a.png" alt="">
        </div>
        <div class="txt  am-u-sm-12 am-u-md-9">
          <ul>
            <li><span class="icon_title"></span><span>寰盈国际亚洲有限公司为用户提供基于复杂事件处理技术为核心的盈宽量化交易平台</span></li>
            <li><span class="icon_title"></span><span>为机构投资者和高端客户提供量化策略开发、回测，程序化交易接入、智能订单管理、风控管理及算法云部署服务</span></li>
          </ul>
          <div class="times">
            <span>即将推出</span>
          </div>
        </div>
      </div>
    </div> -->

    <div class="layer ">
      <div class="tips">
        机构投资者服务
      </div>
      <div class="title">
        在证券经纪业务之外，寰盈国际亚洲有限公司为机构投资者和高端客户提供定制化的金融科技服务，旨在为客户提供更丰富便捷的投资体验
      </div>
      <div class="items">
        <dl class="dls am-u-sm-4 am-u-md-4">
          <dt><img src="./img/service/icon_3.png" alt=""></dt>
          <dd>交易经纪服务</dd>
        </dl>
        <dl class="dls am-u-sm-4 am-u-md-4">
          <dt><img src="./img/service/icon_4.png" alt=""></dt>
          <dd>多元化金融服务</dd>
        </dl>
        <!-- <dl class="dls am-u-sm-4 am-u-md-4">
          <dt><img src="./img/service/icon_5.png" alt=""></dt>
          <dd>开放式量化平台</dd>
        </dl> -->
      </div>
    </div>

  </div>
</div>

<footer id="footer"></footer>
