<div class="chat-editor">
  <div class="chatedittab">
    <emoji-panel v-show="showEmoji" @emojiSelected="emojiSelected"></emoji-panel>
    <img class="emoji_img" src="../../../../images/emoji_img.png" @click="showEmojiPanel" alt="" id="emoji_btn">
    <form enctype="multipart/form-data" method="post" id="form1" style="display: none;">
      <input type="file" class='hidden' ref="uploadimgref" name="Content" id="Content" @change="upimgclick">
    </form>
    <label for="Content">
      <img class="pic_img" src="../../../../images/pic_img.png" alt="">
    </label>
    <div class="qp" @click="clearScreen">
      清屏
    </div>
    <div class="is-power-point">
      <Checkbox v-model="isPowerView">核心观点</Checkbox>
    </div>
  </div>
  <div class="chateditpanel">
    <div v-html="curMsg" ref="msgEditor" class="chateditmsg" @keydown="newLine" contenteditable="true"
      :placeholder="placeholder"></div>
    <div class="msgsend">
      <div class="send" @click.stop="sendMsg"></div>
    </div>
  </div>
</div>