* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0) url('./images/lock.png') no-repeat;
  background-size: cover;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .content {
    color: rgb(255, 198, 0);
    font-size: 24px;
    margin-bottom: 40px;
    font-family: "Microsoft YaHei";
    line-height: 36px;
  }
  .input {
    width: 360px;
    height: 50px;
    line-height: 50px;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    .icon {
      width: 50px;
      height: 50px;
      text-align: center;
    }
    input {
      height: 100%;
      line-height: 50px;
      width: 238px;
      vertical-align: top;
      background: rgb(238, 238, 238);
      border: 0;
      font-size: 18px;
      color: rgb(153, 153, 153);
      &:focus {
        outline: none;
        border: 0;
      }
    }
    .btn {
      height: 42px;
      line-height: 42px;
      width: 72px;
      margin: 0 4px;
      text-align: center;
      color: rgb(154, 97, 15);
      background-color: rgb(255, 198, 0);
      cursor: pointer;
    }
  }
}
